<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nts welcome</title>
    
    <!-- to allow for docking header + footer canvas that will resize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    
    <script src="../jsLib/requirejs_code/require.js"></script>
        <script src="../jsLib/requirejs_code/config/nts_config.js"></script>
        
    
<!-- ANGULAR -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<!-- VIVUS: For loading animations on SVG -->
<!-- <script src="../jsLib/git_repo_3rd_party/vivus/dist/vivus.js"></script> -->

<!-- for angularJS cookies. SRC: https://code.angularjs.org/ -->
<!-- VERSION MUST BE IDENTICAL TO ANGULAR VERSION YOU ARE USING!!! -->
<script src="https://code.angularjs.org/1.4.7/angular-cookies.min.js"></script>
        
<!-- for async spinners. THEY WORK! -->
<script src="../jsLib/node_modules/angular-spinners/src/spinner-service.js"></script>
<script src="../jsLib/node_modules/angular-spinners/src/spinner-directive.js"></script>
<script src="../jsLib/node_modules/angular-spinners/dist/angular-spinners.js"></script>

<!-- host jquery so $ make sense? I think. -->
<!-- we probably don't need this version of Jquery since we are using another.
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
-->

<!-- BEFORE BOOTSTRAP INCLUDE: Bootstrap requiers JQuery Library.        -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Bootstrap: .js and .css respectively.                               -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<!-- Angular Materials Project. Makes UI asthetically pleasing. -->
<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->
<!-- Angular Material Dependencies -->
<!-- include: angular.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

<!-- Get some scroll bar action up in here! -->
<script src="../jsLib/git_repo_3rd_party/ng_scrollable/ng-scrollable.min.js"></script>

    <!-- spinner animation for waiting after pressing button that -->
<!-- results in an asynchronous call. AKA: Wait for something to load and -->
<!-- let user know the UI is still responsive. -->
<LINK REL=StyleSheet HREF="../jsLib/css/components/loading_spinner.css" TYPE="text/css">

<!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->

<!-- style stuff for scrollbars! -->
<link rel="stylesheet" href="../jsLib/git_repo_3rd_party/ng_scrollable/ng-scrollable.min.css">

<!-- enable centering. -->
 <link href="../jsLib/css/layout/vertcen.css" rel="stylesheet">
 <link href="../jsLib/css/layout/horcen.css" rel="stylesheet">
 <link href="../jsLib/css/layout/bs_docs_example.css" rel="stylesheet">
 <link href="../jsLib/css/aesthetics/roundeddivs.css" rel="stylesheet">
 
 <!-- College ruled paper effects -->
 <link href="../jsLib/css/aesthetics/collegerulepaper.css" rel="stylesheet">
 

    
  </head>
<!-- AUTHOR: JMadison.  ON:20##.##.##_####AMPM                               -->
<!-- TABSIZE: 2 Spaces.                                                      -->
<!-- This header belongs BELOW the <head></head> declaration.                -->
<!--   10|       20|       30|       40|       50|       60|       70|       -->
<!--5678901234567890123456789012345678901234567890123456789012345678901234567-->
  <body onresize="onResizeFuncForAngular()">
    
    <!--
    <img src="../jsLib/graphics/NexLogoCenteredFaded.svg" >
    -->
    
    <!--
    <canvas id="dynaHeaderCanvas" class="cla_can" 
      width="200" height="100" 
      style="position:relative; left:0px;
      margin:0px; padding:0px; boarder:0px;">
      </canvas> 
    -->
    
    <div id="dyna_header_div" style="background:#00ff00;width:50px;height:50px;">
    <canvas id="dyna_header_canvas" width="55" height="55"></canvas>
    </div>
    
    <!-- Rather than having code execute for the footer, just make it clone header data -->
    <div id="clone_footer_div" 
    style="background:#ff8800;width:100%;height:50px;
    position:absolute;bottom:0px;">
    <canvas id="clone_footer_canvas" width="55" height="55"></canvas>
    </div>
    
    
    
    <div id="angular_div"
    data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="VI();" >
      <!-- Vertically + horizontally centered dialog -->
      <div class="horcen_parent" > <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      <div class="horcen_child"  > <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      <div class="vertcen_parent"> <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      <div class="vertcen_child" > <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
        
        <div id="vertical_center_hack"
        style="margin-left:-100px;">
          <div id="div_for_canvas" 
          style="position:absolute; 
          z-index:1; margin-left:-50px; margin-top:-10px;">
            <canvas id="myCanvas"
            width="300" height="180" 
            style="border:0px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
            </canvas>
          </div>

          <div id="roundeddivs_wireframe" 
          style="width:200px; z-index:2; position:relative;">

            <div id="roundeddivs_headertab" align="center">

              <h2 style="color:#fff">Welcome!</h2>

            </div>
              <p></p>
              <button data-ng-click="ninjaLogin();" style="width:100%;">Ninja Login Page</button>
              <button data-ng-click="adminLogin();" style="width:100%;">Admin Login Page</button> 
          </div>
        </div>
        
      </div> <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      </div> <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      </div> <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
      </div> <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
    </div>
      
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
      
      //variable initialization:
      $scope.VI = function(){
        $scope.isDebugMode = false;
        $scope.appInitialized = true;
        hack_waitThenTryToLoad();
      };//FUNC::END
      
      //To be called when the window has been resized and is
      //no longer moving (stable).
      $scope.onResizedAndStable = function(){
        $scope.initHeaderAndFooters();
      };//FUNC::END
      
      $scope.ninjaLogin = function(){
        location.href = '/nts/give_me_your_token.jsp';
      };//FUNC::END
      
      $scope.adminLogin = function(){
        location.href = '/nts/prove_you_are_admin.jsp';
        
      };//FUNC::END
      
      //Require-Js section of app:
      //RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR//
      //$scope.doIt = function(){
      //  console.log("pressed");
      //$scope.loaderToggle();
      //};//
      
      console.log("REQUIRE JS!");
      
      //canvas references that are set when header fractal is initialized:
      var _head_can = null;
      var _head_ctx = null;
      var _foot_can = null;
      var _foot_ctx = null;
          
      var rjs_app = null;
      var has_rjs_app = false;
      var attempt = 0;
          
      var myCallback = function(arg_app){
        console.log("called back");
        console.log("arg_app==" + arg_app);
        arg_app.setMaxFramesPerPlay(15);
        arg_app.resume();
        rjs_app = arg_app;
        has_rjs_app = true;
        
        //Header and footer code depends on requireJS scripts:
        $scope.initHeaderAndFooters();
        
      };//
      
      //App returned when loading first strip loader:
      var onStripLoaderCallback = function(arg_app){
        console.log("onStripLoaderCallback");
        
        _has_head_app = true;
        _head_app = arg_app;
        
        maybeInitHeaderFractal();
        
      };//FUNC::END
      
      //Call when everything is ready:
      var initHeaderFractal = function(){
      
        //set references to header+footer canvases:
        _head_can = document.getElementById("dyna_header_canvas");
        _head_ctx = _head_can.getContext("2d");
        _foot_can = document.getElementById("clone_footer_canvas");
        _foot_ctx = _foot_can.getContext("2d");
      
        _head_app.canvas_id_name = "dyna_header_canvas";
        _head_app.setFrameDrawCallback(doFooterDraw);
        _head_app.init();
        _head_app.resume();
      };//
      
      //Copy data in header graphic to footer:
      var doFooterDraw = function(){
        var idata = _head_ctx.getImageData(0,0,_head_targ_wid,_head_targ_hig);
        _foot_ctx.putImageData(idata,0,0);
      };//FUNC::END
      
      var maybeInitHeaderFractal = function(){
        if(_has_head_app && _head_div_ready){
          initHeaderFractal();
        }
      };//FUNC::END
          
      var myErrback = function(arg_app){
        console.log("errored back");
        console.log("app==" + arg_app);
      };//FUNC::END
          
      var tryToLoad = function(){
        //Path to app must be relative location from this HTML file:
        //var rel_path = "../jsLib/requirejs_code/madison_app/NexFracLoader";
        //require([rel_path], myCallback, myErrback);
        
        requirejs(['app_rel_path/NexFracLoader'], myCallback, myErrback);
        requirejs(['app_rel_path/NexFracStripLoader'], 
                    onStripLoaderCallback, myErrback);
        
      };//
      
      var hack_waitThenTryToLoad = function(){
        console.log("Loading hack initialized");
        setTimeout( tryToLoad(), 13000 ); //13 seconds.
      };

      $scope.loaderToggle = function(){
        rjs_app.toggle();
      };//
      //RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR//
      
      //header and footer code:
      //HFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHF//
      
      var _head_targ_wid = 0;
      var _head_targ_hig = 0;
      var _head_app = null; //the actual requireJS app in charge of header.
      var _has_head_app = false; //does a header app ref exist yet?
      var _head_div_ready = false; //is the header div ready yet?
      
      $scope.initHeaderAndFooters = function(){
      
        _head_div_ready = false;
      
        console.log("initHeaderAndFooters!");

        var win_wid = window.innerWidth;
        var win_hig = window.innerHeight;
        var header_div = document.getElementById("dyna_header_div");
        var footer_div = document.getElementById("clone_footer_div");
        var stretch_time; //how long to stretch banner to fit?
        if(false===$scope.isDebugMode){
          header_div.style.background = "transparent";
          footer_div.style.background = "transparent";
          stretch_time = 0;
        }else{
          header_div.style.background = "#ff0000";
          footer_div.style.background = "#ff8800";
          stretch_time = 2;
        }
        
        _head_targ_wid = win_wid;
        _head_targ_hig = 50;
        TweenMax.to(header_div,stretch_time,
                   {height:_head_targ_hig, 
                    width :_head_targ_wid, 
                    onComplete:onHeaderDoneResizing});
      }//
      
      function onHeaderDoneResizing(){
        _head_div_ready = true;
        draw();
        maybeInitHeaderFractal();
      }//
    
      function draw(){
        var canvas_container = document.getElementById("dyna_header_canvas");
        canvas_container.width = _head_targ_wid;
        canvas_container.height= _head_targ_hig;
        
        //make the footer match the header:
        var foot = document.getElementById("clone_footer_canvas");
        foot.width = _head_targ_wid;
        foot.height= _head_targ_hig;
        
        drawCanvas(foot);
      }//
    
      function drawCanvas(canvas_container){
        fillCanvas(canvas_container);
        
        
      }//FUNC::END
      
      function fillCanvas(canvas_container){
        console.log("fillCanvas");
        var wid = canvas_container.width;
        var hig = canvas_container.height;
        can_ctx = canvas_container.getContext("2d");
        can_ctx.fillStyle = "blue";
        can_ctx.fillRect(0, 0, wid, hig);
      }//FUNC::END
      
    //HFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHFHF//
    
    $scope.angularPing = function(){
      console.log("angular ping!");
    };//
    
      
    });//Controller, end
    </script>
     
    <script>
      
      //This script expects:
      //1: A div named "angular_div"
      //2: Angular controller to have function called: 
      //   "$scope.onResizedAndStable"
    
      var _time_of_last_detected_resize = 0;
      var _time_of_resize_event_dispatch = 0;
      var _window_wid   = 0;
      var _window_hig   = 0;
      var _resize_count = 0;
      var _resize_event_launched = false; //prevent spam of resizing.
      
      function onResizeFuncForAngular(){
        _resize_count++;
        console.log("resized!" + _resize_count);
        
        cacheWindowSize();
        _time_of_last_detected_resize = getTimeMS();
        
        //If a resize event is not in our queue, then
        //queue up a resize that will happen with a delay.
        //By using a delay, we prevent resize code from executing
        //every single millisecond as the window is resized.
        if(false === _resize_event_launched){
          _resize_event_launched = true;
          _time_of_resize_event_dispatch = _time_of_last_detected_resize;
          setTimeout(doResize, 100);
        }
      }//FUNC::END
      
      function cacheWindowSize(){
        _window_wid = window.innerWidth;
        _window_hig = window.innerHeight;
      }//FUNC::END
      
      function doResize(){
      
        //It is possible that the delayed doResize() call may be called while
        //the user is still moving the window. In this case, we want to
        //"procrastinate" and put off the resize till a later time:
        if(_time_of_resize_event_dispatch !== _time_of_last_detected_resize){
          console.log("procrastinate resize");
          _time_of_resize_event_dispatch = _time_of_last_detected_resize;
          setTimeout(doResize, 100);
          return;
        }
      
        console.log("doResize()");
        //use currently cached window size to re-initialize:
        // http://stackoverflow.com/questions/16709373/
        var scope = angular.element(document.getElementById("angular_div")).scope();
        scope.onResizedAndStable();
      
        //now we can listen for more resize events.
        _resize_event_launched = false;
      }//FUNC::END
      
      //Get time in milliseconds
      function getTimeMS(){
        var d = new Date();
        var n = d.getTime();
        return n;
      }//FUNC::END
      
    </script>
      
  </body>
</html>
<!--   10|       20|       30|       40|       50|       60|       70|       -->
<!--5678901234567890123456789012345678901234567890123456789012345678901234567-->



