<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    
         <!-- SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->
         <servlet>
             <servlet-name>theServletName</servlet-name>
             <servlet-class>test.TestServlet</servlet-class>
             <load-on-startup>1</load-on-startup>
         </servlet>
         
         <servlet-mapping>
             <servlet-name>theServletName</servlet-name>
             <url-pattern>/pattern</url-pattern>
         </servlet-mapping>
         <!-- SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->
         
         <!-- HHHHHHHHHHHHHHHHHHH Hard Coded Fetch TestHHHHHHHHHHHHHHHHHHHHH -->
         <servlet>
             <servlet-name>tokenHardCodedFetch_ServletName</servlet-name>
             <servlet-class>test.servlets.testServlets.TokenHardCodedFetchTestServlet</servlet-class>
         </servlet>
         
         <servlet-mapping>
             <servlet-name>tokenHardCodedFetch_ServletName</servlet-name>
             <url-pattern>/tokenHardCodedFetch_TestPage</url-pattern>
         </servlet-mapping>
          <!-- HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH -->
         
        <!-- Configuration servlet experiment. -->
        <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
        <servlet>
            <!-- We want this servlet loaded before all others to do config stuff. -->
            <servlet-name>theConfigServletName</servlet-name>
            <servlet-class>test.ConfigServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet>
        <!-- CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
         
        <!-- JERSEY RESTFUL API DEMO: JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ -->
        <!-- http://www.mkyong.com/webservices/jax-rs/jersey-hello-world-example/ -->
        <!-- JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ -->
        <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>com.mkyong.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
        <!-- JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ -->
        
        <!-- token service restful api -->
        <!-- Is there a way to annotation configure a JERSEY servlet??? -->
        <!-- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
        
        <servlet>
		<servlet-name>TokenRestService_ServletName</servlet-name>
		<servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>test.servlets.rest</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>TokenRestService_ServletName</servlet-name>
		<url-pattern>/TokenRestService/*</url-pattern>
	</servlet-mapping>
        
        <!-- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
        
        <!-- NINJA service restful api -->
        <!-- Is there a way to annotation configure a JERSEY servlet??? -->
        <!-- BNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
        
        <servlet>
		<servlet-name>NinjaRestService_ServletName</servlet-name>
		<servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>test.servlets.rest</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>NinjaRestService_ServletName</servlet-name>
		<url-pattern>/NinjaRestService/*</url-pattern>
	</servlet-mapping>
        
        <!-- NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
        
         
</web-app>

